<footer>
  <section class="footer-top-wrapper">
    <section class="footer-top">
      <span class="social-links">
        <a href="https://www.instagram.com" target="_blank">
          <img
            src="assets/red-social/instagram.png"
            title="Instagram"
            alt="Instagram"         
          /> 
        </a>
        <a  href="https://www.facebook.com" target="_blank">
          <img
            src="assets/red-social/facebook.png"
            title="Facebook"
            alt="Facebook"
          />
        </a>
      </span>
    </section>
    <section></section>
    <section>
      <menu>
        <h2>Contacto</h2>
        <li>
          <p>Telf: +1 99999 3399</p>
        </li>
      </menu>
    </section>
    <section>
      <menu>
        <h2>Horario</h2>
        <li>
          <p>
            Lunes a jueves: <br />
            3pm a 12pm
          </p>
        </li>
        <li>
          <p>
            Viernes a domingo: <br />
            6pm a 5am
          </p>
        </li>
      </menu>
    </section>
  </section>
</footer>
