@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container h2 {
  color: salmon;
  font-family: 'Pacifico', cursive;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.row {
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  border: 2px solid gray;
  border-radius: 10px;

}

@media (max-width: 500px) {
  .image-container {
    flex-direction: column;
  }
}
