<div class="container">
  <h2 class="text-center">¡Bienvenido a nuestro bar!</h2>
  <p class="text-center">
    Sumérgete en un oasis de sabores y diversión. Descubre cócteles únicos y un ambiente vibrante que te hará desear volver una y otra vez. ¡Te esperamos con los brazos abiertos!
  </p>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/pic.jpeg" alt="" class="img-fluid my-2">
    </div>
    <div class="col-md-6">
      <img src="assets/images/cup.jpeg" alt="" class="img-fluid my-2">
    </div>
  </div>
</div>
